<section>
  <details>
    <summary> Summary </summary>
    <div class="">
      <p style="margin: 0;">
        <strong>About Me</strong>
      </p>
      <div>
        <nbsp></nbsp>
      </div>
      <p>
        Hi, Ahmad Faiq here - Jakarta-based full-stack dev. <br />
        information systems degree from Institut Teknologi Sepuluh Nopember. <br
        />
        Currently coding at Komisi Pemberantasan Korupsi--build and optimize web
        applications. <br />
        My tech arsenal includes javascript, php, sql, vue.js, react native, node.js,
        phalcon, postgresql, and mongodb.
      </p>
      <ul class="tree">
        <li>
          <p style="margin: 0;">
            <strong>Career</strong>
          </p>
          <nbsp></nbsp>
          <ul>
            <li>
              Komisi Pemberantasan Korupsi<br />
              Fullstack Developer (July 2024 - present)
              <ul>
                <li>
                  Responsibilities<br />
                  <ul>
                    <li>
                      Maintained and enhanced existing web application,
                      implementing new features and optimizations
                    </li>
                  </ul>
                </li>
                <li>
                  Achievement<br />
                  <ul>
                    <li>
                      Successfully improved web application's performance by
                      ~80% by optimizing database queries and business logic
                    </li>
                    <li>
                      Led a project to build a new service for local government
                      monitoring
                    </li>
                  </ul>
                </li>
                <li>
                  Stack
                  <ul>
                    <li>FE: Vue.js, Quasar</li>
                    <li>BE: PHP Phalcon, Laravel, Postgresql, Sleekdb</li>
                    <li>Misc: Redis, Docker</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              PT Pegadaian<br />
              Corporate Secretary Intern (Feb 2023 - Oct 2023)
              <ul>
                <li>
                  Responsibilities<br />
                  <ul>
                    <li>
                      Designed the company's internal communication website
                      redesign
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <div><p>&nbsp;</p></div>
          <p style="margin: 0;">
            <strong>Education</strong>
          </p>
          <nbsp></nbsp>
          <ul>
            <li>
              Institut Teknologi Sepuluh Nopember<br />
              Bachelor of Information System (2019 - 2023)
              <ul>
                <li>GPA: 3.59 / 4.00<br /></li>
              </ul>
            </li>
            <li>
              SMAI Nurul Fikri Serang<br />
              Science (2016 - 2019)
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div><p>&nbsp;</p></div>
    Reach me out at:
    <ul class="incremental">
      <li>ahmd.fqrr@gmail.com</li>
      <li>+62 851-5512-1631</li>
    </ul>
  </details>

  <style>
    figcaption {
      margin-top: 0;
    }
  </style>
</section>
