<div class="container eye-container">
  <div class="eye-open">
    <pre
      class="header-ascii">
^::^:^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!^^^^^^^^^^^^^^~~^^^^^^^^^^^~~^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^~~!!777?J7??J????????????77?777!!77?7~~!~~!!~!~~!!!!~~!!~!77!~!~~!~!!~~~!!~!!!!!!!7!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
^:^^::^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!^^^^^^^^^^^^^^!^^^^^^^^^^^^~^^^^^^^^^^^^!~^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!!!!7??J??JJJ????????777!!!!!!!!!!!~~!!!~~~~~~~~~~~~~~~~~~~^~77~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::^^::^^::^:^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!^^^^^^^^^^^^^^!^^^^^^^^^^^^~^^^^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!!7?7??????77777!~!!~~~~~~~~~~~~~~^^~^^^~~!~~^~~~~~~~~~~~~~~~~~~!7!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::^:::^^::::^^^:^^^^:^^^^^^^^^:::^^^^^^^^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!^^^^^^^^^^^^^~~^^^^^^^^^^^^~^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^~7777?77777!!~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^~^~~!!~~^~~~~~~~~~~~~~~~~~77!~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::^^:^^^^^:^^^^:^^::^^^^^^^:^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!^^^^^^^^^^^^^!^^^^^^^^^^^^^~^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^777!!!~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~~~!!!~^^~~~~~~~~~~~~~~^~77!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::^^::^:^^^:^^^^^^^^^^^^^^^:^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^::^^^^^^^^^^^^^^^^^!^^^^^^^^^^^^~!^^^^^^^^^^^^^~^^^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^!~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^^^~^^~~!!~^^~~~~~~~~~^~~~^^~!7!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::^^:::::^^::^:^^^:^^^^^^^^^^^^^^^^^^^^^^^^^~^^^^^^^^^^:^^^^^^^^^~~~~~~~~~!77!!!!!!~~~~^!~^^^^^^^^^^^!~^^^^^^^^^^^^^~^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~^^~~!!~^~~~^~~~~~~~~~~^~!!!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::^^:::::::^^^^^^^^^^^::^^^^^^^^^^^^~^^^^^^^^^~~~!!77777777777??????????J?JJ?777!!~~~^^^^^^^^^!^^^^^^^^^^^^^^~^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!!~^^^^~~~~~~^^~^^~~~!!!~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::^::::::::::::::::::::::::::::^^:^7!!!!77!7777777?????????JJJ???J???7777!7777????!~!~~~!~^^^^!^^^^^^^^^^^^^^~^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^^^^^^^^^^^^^^~~~~~~~~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::::::::::::^^^^^^~!!77^^????????7???7777777777!!!!!!!!!!!!!!777!777!77777^!~!~!!^^^~~^^^^^^^^^^^^^^~^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!!~^^^^^^^^^^^^~^~~~~~!!~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::::::::^^^^~~!7???JJ?~^??7777????7777!~~~!!!!!~!~~~~~~~~~^^^~~~^~~~~~!~~!^~~~^~!!~^!^^^^^^^^^^^^^^^~^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!7~~^^^^^~^~^~~~^~~!~~~!!~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::::::^^^~~~!!7777!!!!^^~~~~^^^^^^^^^^^^^^^:::^^^^^::^^^^^^^^^^^^^^^^^^^^^!~^^^^^^^^^!^^^^^^^^^^^^^^^~^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!!~^^^^^^~~~^~~^~~!!~~!!!~^^^~~~~~~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::^^^~~~!!!~^^^^^^^::^~^::::::^::::::^:::^^:^^:^^::^^^^^^^^^^^^^^^^^^^^^:~~^^^^^^^^^!^^^^^^^^^^^^^^^~~^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!!^^^^^~~~^^^^^~~!~~^~~!!~~~~~~~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::^^^~^^^^^^:::::::::^~^::::::::::::::::::^::^^^::::::::^^^^^^^^^^^^^^^^^^^!^^^^^^^^^!^^^^^^^^^^^^^^^^~^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^^^^^^^^~~^~~!~~^~~!!~~^^~^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::^^^^^^^::::::::::::::^~::::::::::::::::^:::::::^:::::::::^^^^^:::::^^^:^^^^:!^^^^^^^^~~^^^^^^^^^^^^^^^^~^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~^^~!!~~^^^^^^^^^^^^~7!~^^~~!!~~^^~~^^~~^~~~^~^~~~~~~~^~~~~~~~~~~
::::::::::::::::::^:::::::^^^^::::::::::::^~^::::::::::::::::::::::::::::::::^^^^^^^^^^^^^^^:^^^^:~~^^^^^^^!~^^^^^^^^^^^^^^^^~^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~!777!~~~~~~~^~!~~~!!~^~~~~!!~~^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::^:::::::::^^^::^::^~^^^^^^::^^^^^:^~^:::::::::::::::::::::::::::::::::::^^^:^:^^^^^^^^^^^^:^!^^^^^^^!~^^^^^^^^^^^^^^^^^~^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^~~!~^^^^^^^~J!!~~~~!?J7!~!~!!!~^^^~~~!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::^::::::^::^^^^^^:^!^^^^^^^^^^^^^^^~^:::::::::::::::::::::::::::::::::::::^:::::^^^:^^^^^^^^:~~^^^^^^!^^^^^^^^^^^^^^^^^^~^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!~~~^^^^^^^^^^^^^^^^!!~^^^^^!~^^^^~!7!^^^^^^^~77^~77!JY7~^~~~~~~!77~^^^^~7777!~~~~~~~~~~~~~~~~!!~~~~~~~
::::::^^:^^^:^^:^^^^^^^^~~^^^^^^^^^^^^^^~^:::::::::::::::::::::::::::::::::::::::::::::^:::^^^^^^^:^~^^^^^^!^^^^^^^^^^^^^^^^^^~~^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!!~~^^^^^^^^^^^^^^^^^^^^!?7^^~!7Y?777J5P5JJJ?77?Y5?7?JYGPY7~!!!!~~^^^^~777JJ?7~^~~!!!~~!!~~~~~!777!~~!77!~~
::::::^^:^^^:^^^^^^^^^^^~^^^^^^^^^^^^^^~^::::::::::::::::::::::::::::::::::::::::::::::::::^:^:^^^^^~^^^^^^7^^^^^^^^^^^^^^^^^^~7^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!!~~^^^^^^^^^^^^^^^^^^^^~!!!YJ5JJYPP55PG##&B##&&&#&BB#B@&&@#PBGPP5J????JYPGBGYJ!^^^^^^^~7YY?!!7??J?7!!7?JY7!~~~
:^^^^^^^^^^^^^^^^^^^^^~^~^^^^^^^^^^^^^~~::::::::::::::::::::::::::::::::::::::::::::::::::::::::^^^:~~^^^^^7^^^^^^^^^^^^^^^^^^~7^^^^^^^~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~~^^^^^^^^^^^^^^^^^^^~~!7????Y#PGGG####&&@@&&&@&&&&&&&&&#B&@@&&&&&@@@#&&#&#BGP5J7?J????5PPPGPP555YJJYYP5Y?7!!!!~~
^^^^^^^^^^^^^^^^^^^^^^^~^^^^^^^^^^^^^^~:::::::::::::::::::::::::::::::::::::::::::::::::::^::^^:::::^!^^^^~7^^^^^^^^^^^^^^^^^^!!~^^^^^^~~^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!~~~^^^^^^^^^^^^^^^^^^~~77??JJY5PB&&B#&&&#BBPPP5555YY55YYYYYYY?Y5PPP55GGGPB###&&&#####B##B#BGGGGGGBBB#BBBP5J7??J?777!!
^^^^^^^^^^^^^^^^^^^^^~^~^^^^^^^^^^^^^~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::~~^^^~7^^^^^^^^^^^^^^^^^^!^~^^^^^^~~:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~^^^^^^^^^^^^^^^^^^^!!7??JY5PGPG###BG55YYJJ?J????????????????JJ?7~~~7????75P55GPPPGB&&@&&&@@&&#&@@@@&BGGGGGPPPYJ7!!~~~
^^^^^^^^^^^^^^^^^^^^~:~^^^^^^^^^^^^^!^:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^!^^^~7^^^^^^^^^^^^^^^^^~!^!~^^^^^^!^^:^^^:^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~^^^^^^^^^^^^^^^^^^^~Y5J??YPBBBB#BGG5YJ??????????????????????????JJ?7~^^^^^^^^^!7?JJYJ?77JY5PGGBGGGGGGGP55YJ?77!77!!~~~~~
^^^^^^^^^^^^^^^^^^^~^^~^^^^^^^^^^^^~^:::::::::::::::::::::::::::^^^^^^^^^^^^^^^^^^^^^^^:::::::::::::::~~^^~7^^^^^^^^^^^^^^^^^~~:~~^^^~^~~^:::^^:^^::^^^^^^^^^^^^^^^^^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^!7?JG##B#BG5YJ?????7?5PPGGBBGPY?77?7777777777777???7~^^^^^^^^^^^^^^~77!~~~~~!~~!7?77??77??7777!7!!!7!!~
^^^^^^^^^^^^^^^^^^~^:~^^^^^^^^^^^^~~:::::::::::::::::::^^^^^^^^^^^^^::^:^^^::^^^^^^^^^~^^^^^^^^:::::::^!^^~7^^^^^^^^^^^^^^^^^~~:~~~~^~~~~^^^:^^^^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^~~~^^^^^^^^^^^^^^:^~??J55BB#BP5J?JY555Y?7?5#@@@@@@@@@@&GJ777777777777777?J?!~^^^^^^^^^^^^^^^~!!!!~~?!~~!?YJJ?77!7!~~~~!!^^~!!7
^^^^^^^^^^^^^^^^^^~::~^^^^^^^^^^^^~:::::::::::::::^^~~^^^:::::::::::::::::::::::::::::::::::^^^^^^^^^::^~^~7~~~~~~~~~^^~~~~~^!~:~~~~~~~^~~::^^^^^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^:^!JYYYB&&B5J?????JJ555J7?#@@@@@@@@@@@@@@@5!!!!!!!!!!!!!!7?Y7~^^^^^^^^^^^^^^^^^^~777?~~!77!!7!~^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^~::^^^^^^^^^^^^^!::::::::::^!^^^^^::::::::::::::::::::::::::::::::::::::::::::::^^^^^^^!~^7~^~~~~~~~~~^~~~~~!^:^~~~~~~~~!^:^^^:^^^:^^:^^^^^^^^^^^^^^^^^:^^^^^^^^^^^^^^^^^^^7JYPG##BG5J?7??????7?YY?!?#@@@@@@@@&BGG#@@@&?!!!!!!!!!!!!!!7J?!^^^^^^^^^^^^^^^^^^^^^7?7777~!!!7??!~^~~^^^^^^^^^^
^^^^^^^^^^^^^^^^~^::~^^^^^^^^^^^~^::::::::^^~!7^::::::^^:::::::::::::::::::::::::::::::::::::::::::::::^~7~7!^~~~~~~~~~~~~~~~!:::~^~~~~~~!^::^:::::::::::^::^^:::^^^^^^^::^^^^^^^^^^^^^^^^:~YJYBBPYJ??77777777?YJJ7!!?&@@@@@@@#^    J@@@5~!~~~~~~~~~~~!!?J7^^^^^^^^^^^^^^^^^^^^^7^^!JJJYYJYJ?J?!~~~~~~^^^^^^
^^^^^^^^^^^^^^^~^::^~^^^^^^^^^^~~::::::^~~^::.^?7^:..::~~:::^^~~!!!!!!!!!!!!~^^::::::::::::::::::::::::::~~7!^~~~~~~~~~~~~~~~!:::^^~~~~~~~~::^:::::::::::^:::::::^^^:^:^^:^^^^^^^^^:^^^^:^!YPGG5?!????7!!!!!?YJYJ!!!!!G@@@@@@@&7. .^P@@@P~~~~~~~~~~~~~~!7J!^^^^^^^^^^^^^^^^^^^^!!^^~777?7!!!!!!77~^^^^^^^^^^
^^^^^^^^^^^^^^^~:::~^^^^^^^^~~~~:::::^^^::~~::::~?J7!~~!?JYY5PPGGGGGPPPGGBGGGGP5J7!~^:::::::::::::::::::::~!7~~~~~~~~~~~~~~~~7::::~^!~~~~~!:::::::::::::::::^^:^::^^^^^^^:^^^^^^^^^^^^^:^?YBBY!^:~!???7~!!!!77?J7!!~~~7B@@@@@@@@#BB&@@@&7^~^^^^^^^^^^^^~!?7^^^^^^^^^^^^^^^^^^^~7^^~!^^^^~777!!!!!77!^^^^^^^^
^^^^^^^^^^^^^^~^::^~^^^^^^^^^!??!^^^^:.....:~~~~~7YGGGGBBBB#&###GGGGGGGB#BGGP555YYY5YJ7!~:::::::::::::::::^!?~~~~~~~~~~~~~~~!!::::^^~~~~~~!^:::::::::::::::::::::::::::^:::^::^^::^^^^:^?PBJ~::^^^~7??7~~~~~~~~!!!~~~~~!5#@@@@@@@@@@@&G!^^^^^^^^^^^^^^^~7?7^^^^^^^^^^^^^^^^^^^7^^~?7!!7!~^~!7?7!!!!77!^^^^^^
^^^^^^^^^^^^^~~.::~~^~~^^~^^~~~^!JYYYJJ?77??J5G###B###BG#GPPP5555555PPPPGGGBBBBBGGGPGPPPPY?7~^:::::::::::::^?~~~~!~~~~~~~~~~!!:::::~^!~~~~~!:::::::::::::::::::::::^:::::::^:^^^:::^::~?GY~::^^^^^~77??7~~~~~~~^^^~~~^^^^~?5GB##BGPJ!~^^^^^^^^^^^^^^^^^~7?!^^^^^^^^^^^^^^^^^^7~^^~~^^^^^^^^^^~!!77!!!77!^^^^
^^^^^^^^^^^^^~::.^~^^^^^^^~^~~:..:::~!?YGBB#&@@&#B5YJ7~^~!7JJJJJJJJJ???????????JJJY5PGGB###BGPJ7!^::::::::::7!~~~!~~~~~~~~~~!~:::::^^^!~~~~!^::::::::::::::::::::::::::::::::::^:::::~?GJ:::^^^::::~????7~^^^^^^^^^^^^^^^^::^^^^^^:::^^^^^^^^^^^^^^^^^~7J!^^^^^^^^^^^^^^^^^^7~^^7!!!7!!~^^^^^^^^~7?7!!!77!^^
^^^^^^^^^^~^~^.:.~~~~~~^^^^^!^..::::^7?YGBBGBP7~:::...^!?YJJJYYYYY555Y?777777777777!!777?JYYPGPPPPY7~:::::::~7~~~!!~~~~~~~~~!~::::::~:~~~~~!~:::::::::::::::::::::::::::::::::::::::^?57::::::^^^^::7?777!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!77!^^^^^^^^^^^^^^^^^~7^:~75?7777!!!!~^^^^^^^^!777!!77!
~^~~^^~~~~~~~:..:!~~~!!7??7??!777?Y5B#GBB5Y7^...:::::~?YJJ?????JYYYPPP?77777?J5GBBBGPY?7!!!77!7??YPGGPY!^.::^7~~~!!~~~~~~~~~!!::::::^^:!~~~~!^:::::::::::::::::::::::::::::::::::::^JP~::::::::::^^:^~!7??7^^^^^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^::~JJ7^^^^^^^^^^^^^^^^^!!^~!7!!!!!~~^^^^^^^^^^^^^^^~!?7!!7
~~~~^^~~~~~!^...~!~~~~~~!!7?!!7?YGBGGGPY~:..:::::::.^?JJ?77777?JJYJJJ?777!?B&@@@@@@@@@&BY!!!!!!!!!!?JPB##5!:.!!~~~!~~~~~~~~~!!:::::::~^^!~~~!~:::::::::::::::::::::::::::::::::::::!J~::::^::::::^^^^:^~7??7~^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~7Y?!^^^^^^^^^^^^^^^^~!~^~7~^^^^~~~^^^^^^^^^^^^^^^^^^^!777
~~~~~~~~~~~~.:..!~~~~~~^^^~~~7YGB##B57^:..::::::::::~???7777!!7JYYJ7!!!!!J&@@@@@@@@@@@@@@B?~!!!!!!!~~~!7Y#&BY?7~~~!!~~~~~~~~!7::::::::~:~!~!~!^:::::::::::::::::::::::::::::::::::^~~:^:::::::::^^^::::^^!7?7!!!~:::::::::::::::::^^^^^^^^^^^^:!!77!~^^^^^^^^^^^^^^^^^~^^~7!~^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^!
~~~~~~~~~~!:...~7!7!!!!?JY55#&B&#BJ!:..:::::::::::::7JJ?!!!!!!!?J?J7!!!~?&@@@@@@@&GB&@@@@@#!~~!7777!~~~~~7?Y5YP7~~!!~~~~~~~~!7::::::::^^:!!!!!~:::::::::::::::::::::::::::::::::::^~^:::::::::::::::::::::~^!77!!~:. .            ..::^::^^~!?7!!~^^^^^^^^^^^^^^^^^^^^^~~755Y?77!^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~~!~....~!!!?????J5G##&&G!:....::::::::::::::7J?7!!!!!!!~!777!!~~P@@@@@@@B^ .:!B@@@@J^~~~~~~~^~^^~~!7!^77!!!7!!!~~!~!!!:::::::::^:^!!!!7^::::::::::::::::::::::::::::::::::^~^:::::::::::::::::::..  :^^~~!!!^^:..:.. .   ..  .:~!7J77!~~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~~!:....7!7JYYY5PG#@@#P!.....::::::::::::::.:7??!~~~~~~~~~~~!!!~~B@@@@@@@J     5@@@@5^^^^^^^^^^^^^~!!!^:7!!77!!!!~~!!!7^::::::::^^:~!!!!!:::::::::::::::::::::::::::::::::^^^^^^:::::::::::::::.       ..:^!7!7~~!7:!:7~!^!~~!~!!77~^^:::^^::^^:^^^^^^^^^~~~~^^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~!~... :!~~~!7?JP&#GJ^.....:...::...::::::..:7??!~~~~~~~~~~~^~~~^5@@@@@@@@B5JJG@@@@#!^^^^^^^^^^^^^^~!7^:~7~!!7!!!!!!!!7^:::::::::^^:~!!!!~::::::::::::::::::::::::::::::::~^^^^::::::::::::::::.          .. .:^::^.^:^:^.:.^^..:^^^^^^^^^^^^^^^^^^^^^^~77!~^~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~!:.::.~77?JYY5G#P!:..............:.::...::.:~777~^~~^^^^^^^^^^^^^J#@@@@@@@@@@@@@@G~:^^::::::::::::~!!^::7!!!7!!!!!!!!7~::::::::::~^:!!!!7^::::::::::::::::::::::::::::::::^^^:::^^^^:::::::::::......                ...    ..:^^^^^^^^^^^^^^^^^^~~~!!!^::^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~!~..::~??J?77?J?!.. .^...............:.......^!77!^^^^^^^^^^^^^^^^:^JB&@@@@@@@&BP?::::::::::::::::^~~~:::~7!!!7!!!!!!!!!:::::::::::~::!!!!!::::::::::::::::::::::::::::::::::::::::^^^^^^^::::::::::::::::::........   ....:::::::::^^^^^^^^^^^^^^^^^^~!!!~^::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~7:... .!!77?7777~.. .^.................:......^!!!!^^^^^::::::::::::::~7????7!^:...:::::::::::::::^!~^::::!7!!7!!!!!!!!7^::::::::::^^:^!!!!~::::::::::::::::::::::::::::::::::::::::::::^^^^^^^^^^^^^^:::^:::::::::::::^^^^^^^^^^^^^^^^::^~?7~^^:::^:::::^~~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~!!.... ~7!777?JYJ??^ .^^........................^!!!~^:::::::::::::::::.........:::::::::::::::::::^!^::::::77!77!!!!!!!7~:::::::::::^^:^7!!7~:::::::::::::::::::::::::::::::::::::::::::::::::^^^^^^~~^:^^^^^^^^^^^^^^^^^^^~^~~^^^^~!::::::^~!~~~^::::^^^::^~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~7^.....!!!!7!!!!^^??:.:^^.......................:^~!!~^:::::::::::::::::.:::::::::::::::::::::::::^!~::::::.~J!!7!!!!!!!7!::::::::::::~::^7!!7^:::::::::::::::::::::::::::::::::::::::::::::::::::::~!!^^^:^~~^^^^^^^~^^^^^^?7!^^::::7!:::::::^^:^^::^:::^::::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~!!!7:... .7!~!!!!7~.::^^:..:^:...   .................:^!!!^...:...................::::::::::::::::::^~~::::::::~!?!!?!!!!!!!7^::::::::::::~::^7!!7:::::::::::::::::::::::::::::::::::::::::::::::::::^^::::::~~^::::::^!^::^^::~7~:::::::~^:^^:::^::::^^^^::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~!~~~!!.... :7!!!!!!!.  ...:^^..^::.        .............:^!!~~^:........:........:.:.....:::::::::::^~~~::::::.^~~^!7!77!!!!!!7!.:::::::::::^~:.^7!7!:::::::::::::::::::::::::::::::::::::::::::::::::::::::::^^::::::::~^::^^::::~^::::::::^:::::::::::::::::^::::::^^::^::^:^^^^^^^^:^^^^^^^^^:^^^^^^^^^^
!!!~~7^...  ~7!!!!!!^ ..^~~!!^::..::.                ......:^!77^^:.......:::........:::.:.:....::^~~~^::::::::^^^:::77!?7!!!!!!7:::::::::::::^^::^777!:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::................ ...:::::::::::::::::::::::::::::::::::::^^^^^^^::::::^^^^^^^::^^^^^^:^:
!!!!!7:...  !!!!!!!!..::^^:....:::...::.                    ..:^!!7!~^::::................:.::^~~!!^:::..:::^^^^::::::777?7!!7!!7!.::::::::::::^^::^777!:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.................::::::::::::::::::::::::::::::::::::^::^:::^::::^::^^:^^^::::::^^^^^^^
!!!!!7....  7!!!!!!:... ....::^~~!7^. .::..                     .:~~~!7!~~~^^^:^::::::^:^~^!^7~~^::.....::::^:..:::::.:77??7!77!!7^...::::::::::^^:.^777!::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^::::::::::::^:^^::^^^^^:^^^:^^^^^^^^^^
!!!!7!...  .?!!!!!!     ...::^^^::^:.... .:::.                       .:^^^!!~!^?!!7^!~7^~~^^:^:....::^^~^:....::::::::.:77??777!!7!   ....:::::::^::::!77!:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^^::::::::::^::::^^^^^^^^^^^:^^
!!!!7~...  :?!!!!!:      .:..........:~!!^...::::.                 ........:::.:^^^:^::::.....:::^^^^~^:.....:::::::::...!7??77777?^       .::::::~::::!777::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^^:^^^:^^
!!!!?^...  ^7!!!!!       ......:::::^^~^^^.......::^^:..      .........................::::^^^^^^^^^::..:...::::.:::..    ~???777777:       .::::::^::::~777^.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!?^...  ~7!!!7^        .....:.:^^:.        :^..  .::::::::...::::::::::::::::::^^^^^^^::^^^^^~^....:.:.....::::..       ^??7?77777.       .::::::~::::^7?7~.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^::::
!!!!?:...  !7!!!!.        ........:..       :~7!^^:.     .........:::^^^^^^:^^^^:::^^:::::^~:...^^................          :7?!7?7777.      .:::::.:~:.:.:!7?~:.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!?:...  77!!7^          ..........     .:::.       .^!~^:...::^^.....::..:^^^!!!~:.....^:....:^..............             .!?~!?77?!.     ..:::::.:~:.:..^7?!^.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!?:...  77!!!.          ...........  ...          :~^:.   ..::~~. :!^::....:^!!^.......::.................                 .~?!^??7?!.     ..::::..:~:.::.:~??~::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!?:...  77!7~            .......... ..           ::     ...  ^^.  ~:      .:.~^  .......................                     :77:!?7?!.    ...:::...:^:.::..^7?!^.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7!!!J:..   ?777:             ..........            ..           ~.  .:       .. ::.......................                       ..~7^^7??7:   .:.:::....:^^.:::.:~7?!:.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
777!J^ .   ?77!.              .........                        ::   .          .::...................                           .. .7!:~7??^  ...::....:.:^^...:..:~??~:.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
777!?~ .   ?77^               .........                        ..  . ..........................                                  ..  ^!^.^7J!  ............^^....:..:!??!^...:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7777?7 .   ?77:                .........                                                                                          ..  .^~..~?7^.............^^:.:.....:!??!^:.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
77777?..   ??7.                ..........                                                                                          ..   :~^..~?!:............:~:...:.:..:~77!:...::::::::::::::.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
77777J...  7?!                  .........                                                                                          ...  ..:^^..~7~:........:..:^^....:::..:^!7!^....:...::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
77777J^ .  !J~                  .........                                                                                           ...  ....^^..^!~:...........^~:.::.......:~7!~:.....::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
77777?7 .  ~J!                   .........                                                                                           ...   ...    .^!~:..........:^^............:~~^:.    ...........:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
77777?J.   ^J^                    .........                                                                                           ...   ...     .:^~^:.........^^:...............                  .......::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
777777Y^   .J~                     ........                                                                                            ....  ....    ...:^^^:.......:^^..............                          ......:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
777777J?    ?7.                    .........                                                                                            ....   ....     ...:^^^:......^~......     .....                              ....::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::</pre>
  </div>
  <div class="eye-lid">
    <pre
      class="header-ascii">
::::::::^:::^::::^^^::::::^^^^:::^:^^^^^^^^^^^^^^^^^^^^^:^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^:~^^^^^^^^^^^^^^!~^^^^^^^^^^^~^^^^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~^~!~~!!!!!777???????7!!!!!!!!!!!!!!!!J?!~^~~~~~~~~~~~~~~~~~~!7~~~~~~~~~~~~~~~~~~~~~~!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
^::::^::::^:::^::::^:^::::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^:^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^^^^^^^^^^^^^^!^^^^^^^^^^^^~^^^^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!~!!!!!!!777777!7!!!!!!!~~~~~~~~~~~~~~^^~!!!~^~~~~~~~~~~~~~~~~~~!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::::::::^:::^:::^^^^^^^^^^^^^^:~!^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^^^^^^^^^^^^~~^^^^^^^^^^^^~^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^!!!!~!!!!77!!!~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^~~~~~~~~~~~~~~~^~!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::::::::::::::::::::^:^:^^^^^^:~~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^^^^^^^^^^^^!^^^^^^^^^^^^^~^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^~7!~~!~~!!~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~~^^^^^~~~~~~~~~~~^~!!~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::::::::::::::::::::::::^^^^^:^~::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^:~!:^^^^^^^^^^^!^^^^^^^^^^^^^~^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^^^^^~~~~~~~~~^^~!!~~^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::::::::::::::::::::::::::^^^~~^^^^^:^^::::::::::^^^^^^^^^^^^^^^^^^^^^^^^~!^^^^^^^^^^^~~^^^^^^^^^^^^^~^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^^^^^^~^~~^~~^^~~!!!~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::::::::::::::::::::::::::::~^:^::^^^^:^^^^^^~~!7!!!!!7?77777777777!!!!!!77:^^^^^^^^^^!^^^^^^^^^^^^^^!^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!~~^^^^^^^~^^^^^^^^~!!!~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::::::::::::::::::::::::::~~^^^^^~~~~~~!!77?JYJ?JJ?????7????7?7?7?????????~~^^~~^^^^^!^^^^^^^^^^^^^^!^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^^^^^^^^^^^^^^^~!!!!~~^^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::::::::::::::::^^^^^^^~^^!77777777777777777?JYJ77777777!!!7!!!!77777!!77J5~~!~^~!^^^~~^^^^^^^^^^^^^^!^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!~~^^^^^^^^^^^^^^^~!!~~~~^^^~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::::::::::::^~!!!7777?!^!?7???7!777777!!!~~!!!!!~!~!!!!~!~~~~~~~~~!!!!7!!J~~~!~~!!~^!^^^^^^^^^^^^^^^~^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^^^^^^^^^^^^^^~!~~~~~~^^~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::::::::^^~~~~!77?JYY?~^~!~^^^^^^^^~~~^^^^^^::::^^^^^^^^^^^^^^^^^^^^^^^^^^!~^^^^~^~~^!^^^^^^^^^^^^^^^~^^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!~~^^^^^^^^^^^^^^~!!~^~!~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::::^^^~~!!!7!~~~~^^:^~^:::::::::::::::::::::::::::::::::::::::::::::::::~~^^^^^^^^^~^^^^^^^^^^^^^^^~^^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!~^^^^^^^^^^^^^^~!!~^~~~~~^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::^^~~^~~^^^^^:^:::::^~^::::::::::::::::::::::::::::::::::::::::::::::::::^~^^^^^^^^~~^^^^^^^^^^^^^^^^~^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!~~^^^^^^^^^^^^^~!!~^^~~~~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::^^^^^^::::::::::::::^~^::::::::::::::::::::::::::::::::::::::::::::::::::::~^^^^^^^^~~^^^^^^^^^^^^^^^^~^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~^^^^^^^^^^^^^~!!~^^~~~~~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::^:::^::::::::::::::^!^:::::::::::::::::::::::::::::::::::::::::::::::::::::~^:^^^^^^~^^^^^^^^^^^^^^^^^!^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^~~~~~~~~~~~~~~~~~~~~~~~~~^~!!!~^^^^^^^^^^^^~!!~^^^~~~~~~^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::::~^::::::::::::::~^::::::::::::::::::::::::::::::::::::::::::::::::::::::^~:^^^^^^~^^^^^^^^^^^^^^^^^~^^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~77!~~~~~~~~^~~^~!!~^^^~~~!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::::~~:::::^^^^^::::~^::::::::::::::::::::::::::::::::::::::::::::::::::::::::~^^^^^^^7^^^^^^^^^^^^^^^^^^~^^^^^^^^!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!7!~^^^^^^~~~~~!7!~^^^^~~!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::::^~:::^^^^^^^^^^:~~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::~~^^^^^^7^^^^^^^^^^^^^^^^^^!^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!7~^^^^^^^^^^^~!!~^^^^^~~!!~~~~~~~~~~~~~~~~~~~~~~~~~
:::::::::::::::::::::::^^^:^:^^^^^^^^^:^~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::~^^^^^^7^^^^^^^^^^^^^^^^^^~~^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!!~^^^^^^^^^^~!!~^^~~~^~~!!!~~~~~~~~~~~~~~~~~~~~~
::::::::::::::::::::::^^^^:^^^^^^^^^^:^!::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^^^^^^^7^^^^^^^^^^^^^^^^^^~7^^^^^^^~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~^^^^^^~~^^~!!~~^~~~^~~~!!!~~~~~~~~~~~~~~~~~~
:::::::::::::::::::^:^^:^^^^^^^^^^^^^^!:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^~^^^^^7^^^^^^^^^^^^^^^^^^~!^^^^^^^~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!~~^^^~~~~~^~!!!~^^77~~~~~!!~~~~~~~~~~~~~~~~
::::::^:::^:^^^^^^^^^^:^^^^^^^^^^^^^:~^::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::~^^^^^!^^^^^^^^^^^^^^^^^^!^~^^^^^^~~:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!~~^^^~~~~~~~!!7Y7^^~^~~~!!!!!~~~~~~~~~~~
:::^:^^^^^^^^^^^^^^^^::^^^^^^^^^^^^^~~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^~:^^^!^^^^^^^^^^^^^^^^^^!^!^^^^^^~~:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!!~~^^~~~~~~7?5PPPGP5YJ7~~~!!!!~~~~~~~~
^^^^^^^^^^^^^^^^^^^^^:^^^^^^^^^^^^^^~::::::::::::::::::::::::::::::::::::^^^::::::::::::::::::::::::::~^:^^!^^^^^^^^^^^^^^^^^~~^!~^^^^^^~::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!~~^^^~!!777?PG5?!~^^^^^^^~~~!!!~~~~
^^^^^^^^^^^^^^^^^^^^:^^^^^^^^^^^^^^~:::::::::::::::::::::::^^^^^^^^^^^^^^^^^^^^^^^^~^^^^^:::::::::::::^~:^^!^^^^^^^^^^^^^^^^^~~:~~^^^^^^~^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~!~^~7??!!~~!!~^^^^^^^^^^^^^^~~!!!
^^^^^^^^^^^^^^^^^^^::^^^^^^^^^^^^^~^::::::::::::::::^^^^^^^::::::::::::::::::::::::::::::^:^^^^^^::::::~^:^7^^^^^^^^^^^^^^^^^!^:~~~^^^^^!^:^:^^:^^^^^^^^^^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^7P5?7!!~~~~!7!~^^^^^^^^^^^^^^^^~
^^^^^^^^^^^^^^^^^^::^^^^^^^^^^^^^~^::::::::::::^^^^^:::::::::::::::::::::::::::::::::::::::::::::^^^^^:^!^^7^^^^^^^^^^^^^^^^^7::^^~^^^^^~~:::^::::^:^:^^::^^::^:^^^^::^::^:::^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!B@@&PJ7!77!!!!!7~^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^::~^^^^^^^^^^^^~::::::::::^^^^::::::::::::::::::::::::::::::::::::::::::::::::::::::^^~^:7^^^^^^^^^^^^^^^^~!:::~^~^^^^~~:^::::::^:^:::^::^:^:^::::^:^^:^::^^^^^:^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~JB@@&PJ77??!~~~~~~!7!^^^~^^^^^^^^^
^^^^^^^^^^^^^^^^~::^^^^^^^^^^^^^~:::::::^^^^:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::~^!^^^^^^^^^^^^^^^^~!:::~^~^^~^~~^:::::::::^::::::::::::::::::::::::::::::::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^?B@@@@#PPYJ??7!!!~~~~~!!~^^^^^^^^^^^
^^^^^^^^^^^^^^^~:::~^^^^^^^^^^^~^:::::^^^:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^~~^^^^^^^^^^^^^^~~!:::^~^~~^~^~^::::::::::::::::::::::::::^::::::::::::::::::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^!5@@&@@GJ?!^^^^^^~!!!!~~~~!!~^^^^^^^^^
^^^^^^^^^^^^^^~^::^~^^^^^^^^^^~~.::^^:.....::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::!!~~~~~~^^^~^~~~~!~::::~:~~~~~~!::::::::::::::::::::::::::::::::::::::::::::::^^:^^:^:^:^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^:~5&@#GB&J^^^^^^^^^^^^^~!!!~~~~!!~^^^^^^^
^^^^^^^^^^^^^^~:::~^^^^^^^^^^^~.:^:.       ....::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::~!~~~~!~~~~~~~~~~!~::::^^^~~~~~!^:::::::::::::::::::::::::::::::::::::::::::::::::::::^:::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~5&@&GP&@&YJ???77!~~^^^^^^^~!!!!!!7!~^^^^^
^^^^^^^^^^^^^~~~~~~^^^^^^^^^^~^::.             ....:::::::::::::::::::::::::::::::::::::::::::::::::::::::::7~~~~7~~~~~~~~~~!~:::::~:~~~~~~!:::::::::::::::::::::::::::::::::::::::::::::::::::^:^:^:^^^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^:^!YB&@@&##P?!~~^^^^^^^^^^^^^^^^^~!!!!!!!!~^^^
~~^~~~~~~~~~~J#@@Y^^^^^^^^^^~~:.                   ....:::::::::::::::::::::::::::::::::::::::::::::::::::::7~~~~7~~~~~~~~~~!~:::::^~:~~~~~!^::::::::::::::::::::::::::::::::::::::::::::::::::::::^:::::::^::^:^^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~JG&#PB##@G?!~^^^^^^^^^^^^^^^^^^^^^^^~!!!!!77!^
~~~~~~~~~~~~~~77?7^~^^^^^^^~~:..                       .....::::::::::::::::::::::::::::::::::::::::::::::::~7~~~!!~~~~~~~~~!~::::::~^^!~~~~~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^::^75B@@&&&BG5J77JJ?7!~^^^^^^^^^^^^^^^^^^^^^~!77!!77
~~~~~~~~~~~~?JYYJ~^~~~~~~~~~:...                            ..::::::::::::::::::::::::::::::::::::::::::::::^?~~~!!~~~~~~~~~!~::::::^~:~~~~~!^::::::::::::::::::::::::::::::::::::::::::^^~77~^:::::::::::::::::^^^:^^::^:^:^^^^^^^^^^^^^^^^^^^^^^^^::^~7YPP55G##B5!^::^:::^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!77!
~~~~~~~~~~~!^^^^!~~~~~~~~~~!:....                             ..:::::::::::::::::::::::::::::::::::::::::::::7!~~!7~~~~~~~~~!!:::::::^^:!~~~!~::::::::::::::::::::::::::::::::::::::::^!!~~!7?JYYJ?!~^:::^:::::::::::::::::^^^^^^^^^^^^^^^^^^^:::::^!?YPG5J5GBGY7~:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~!
~~~~~~~~~~!^::^~!~~~~~~~~^J&J^...                               ..::::::::::::::::::::::::::::::::::~!~^:::::!?~~~!!~~~~~~~~!!::::::::~:^!~~~!^:::::::::::::::::::::::::::::::::::::::^^^^^::::^~7JPGBGP5Y?!~~^^^:::::::::::::::::^^^^^::::::^~7?5G##B5P&@@@GJ!^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~~~!^^!??~~~~~~~~~!#@@&Y^...                              ..:::::::::::::::::::::::::::..:~7?!^:^~~~^::!~~~!!~~!~~~~~!7::::::::^^:~!!!!!:::::::::::::::::::::::::::::::::::::::::::^^^^^^::::^~7JPB&&@&#BGP5YJ777!~~^^^^^^^^^~~!!!77??JJY5G@@@#BPPPPP55Y?7!!~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~~!^::::!~~~~~~~~^J@@&#PB57^.                              ...::::::::::::::::::::::::^!JJ7~^^~~~~^::::^7~~~7~!~!!!!!!?:::::::::^^:~!!!!~:::::::::::::::::::::::::::::::::::::::::::::::^^^^^^^::::^~7P@@@@@@@@@@&&&##BBBBBGPPPGBB#@@&BPGY??7~^^:::::::::::^^^^^::^:^:^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~~!.:::^!~~~~~~~~~75#@@&@@@BY!:                            ..::::::::::::::::....:~7YGG57^^^^^::::::::::!!!!7!!!!!!!!!?::::::::::^::!!!!!^:::::::::::::::::::::::::::::::::::::::::::::::::::::::^^:~JGP?!!?B@&BP5Y5P55B@&BPJ??YJ7?YJ?!!!!7!!~^:::::::::::::::::^:::::^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~!^.::.~~~~~~~~~~7BB#@@@###&@&BY!^.                        ...::::::::.:.::::~7JP#&&P?^:^^::::::::::::::^7!!!7!!!!!!!!7^::::::::::^:^!!!!~:::::::::::::::::::::::::::::::::::::::::::::::::::::::^~?Y?~::::?GJ~^::::^:~#5!~~^^^^::::::::::::^^^^::::::::::::::::::::::::::^::^^^^^^^^^^^^^^^^^^^^^^^^
~~~~~~~~!:....!~~~~~~~~~^^~~~!?P&&Y?75&@&B5?!^:.                  .....:::::::~7J5G#@@@@P?^..:::::::::::::::::::~7!!!!!!!!!!!77::::::::::^^:^!!!!~::::::::::::::::::::::::::::::::::::::::::::::::::::^^~!~::::::7?^:::::::::~P^:^::::::::::::::::::::^:::::::::::::::::::::::::::::::::^::^^^^^^^:^^^^^^^^^
~~~~~~~!^....:7~~~~~~~!^::.....:~JPP5#@@&@&#PY?JJ7!~^:::.. .  ...:::^^~!7??5G#&&@@&BBB#G!::::::::::::::::::::::::7!!!7!!!!!!!77:::::::::::^^:~!!!!^:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::~~::::::::::::?^::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^:^^:^^^^^^^^^
!~~~~~~!.... ^!~~~~~~~^...:::^~7?YP&@&&&&B5JY5P#@@&&#BGPPP55555JYGBPYYPP55YYY#@@@Y^::::~!7~::::::::::::::::::::::^7!!7!!!!!!!!?^:::::::::::^::~!!!!:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^:::::::::::::^^:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^:^^^^^^^^^
!!~!!~!~...  ~!~~~~~~~::^^^!!7JYYY??7~^~75&&&&&GG5J?77!?JG#BGPYG&@GJJ55P5J?7~^7G#^::::::.:^:::::::::::::::::::::::!7!77!!!!!!!7~::::::::::::^::~!!!!:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^:^^^^^^^
!!!!!!7:... .!~~~~~~!^.:::::........:~?J?!~^^^^^~!7!77?JJJYJ?7J#@B?7!~^::::.::.:Y^.::::::::::::::::::::::::::::::::77!7!!!!!!!77::::::::::::^^::~!!7~::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::^::::^:^^
!!!!!!!...  :?~~~~!!!.............:~~~^:..    ...............:.7#^.....::::::::.^^.:::::::::::::::::::::::::::::::::77!7!!!!!!!?^::::::::::::^^::~!!7~::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!!7^...  ^!!!!!~!^.............::....             ........:.?7.::::::::::::::.::::::::::::::::::::::::::::::::::.^777777!77!7!:::::::::::::^^::~!!7~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!!7:..   !!!!!!!!. ..............                         ..^...:..::::::::::::::::::::::::::::::::::::::::::::::.^7777!!!7!!7^:::::::::::::^:::~777~::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!!7...   7!!!!!!^   .............                               .............::::.::::.:::::::::::::::::::::::::::.^777!!!77777::::::::::::::^:::~777~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!!!...  .7!!!!!!.    .............                                .....................:.:::..:.:::::::::::::::::::.^777777777?~ ....:::::::::^:::^!77~.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!7~..   :7!!!!!^      ............                                .......................:.:..::::::::::::::::::::::.^?777777777      ...::::.:^::.:!77~:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!?^..   ^7!!!!!.      ............                           ..............................:.:::::::::::::::::::::..  :?77777777!        .::::.:^::::!77!:.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!?^..   ~7!!!!^        ...........                           .....................................:.::::::::::::..     :7?!77777?^       .:::::.^^::.:~77!:.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!7:..   ~7!!!7.        ...........                             ..............................:.....:::::::::::..        .7?~!?777?^       .::.::.^^.::.^77!^.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!!!7:..   !7!!7~          ...........                           .....................................:.:.::..:..            ~J~^7777?:      .:...:..^^.::.:!77~.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!!7!7:..   77!!7.          ...........                        .................................................               :?!.~?77?^     .....:...^^.::..~77!:.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7!7!7:..  .J777~            ..........                      ...            .................................                   .!?:^??7?^     ....::::.^^.....:!?7^..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7777?:..  .5777             ..........                                               .....................                     ..^?^.!?77^    ..........^^:.::..^7?!:..:.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
!777?^..  .577!              .........                                          ........................                        ...!7.:7??!   ...........:~:......~??~:...:..:::.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7!77?^..  .57?J               .........                         . ..............................                                 .. :7^ ^?J7.  ...........:~:......:!??!:....::..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7!77?^..  :YJY                .........                                            .... . ..                                     ...  !!: ~??^ ............:~^.......:!??!:......:...:....::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7!7!7!..  .?77                 .........                                                                                          ...  :!!..~J7:.............^^........:~??~:...............:.::.:....::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7!777Y... .7?~                  .........                                                                                          ...  .:!~..~7!:............^~:.........^!!~:..................:::...:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
77777Y:..  ?J^                  .........                                                                                           ...  ..:~^. ^!~:...........:~^..........:~~~^:......................::::::::.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
7777!?~ .  ?P!                   .........                                                                                           .:.  .....   :~!^...........^~:...........:~!^^:.................:.......:..:.:::::.:::::::::::::::::.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
77777?J .. ^P!                    ........                                                                                            .:.  ...      :^~^:.........:~^.............::.              .............:::.:.::....::..:::.:....::::.:::.:..:.:::::::::::::::::::::::::::::::::::::::::::::::::::::
777777Y: . .P~                    ........                                                                                             .:.  ....      .:^^::........^^:.............                         .........:..:...:...........::.......:......:::::::::::::::::::::::::::::::::::::::::::::::::::
77777!J! ...5~                     ........                                                                                             ...   ...        .::^::......:~:.............                                ........:...:::.....::.....:.::::.:::::::::::::::::::::::::::::::::::::::::::::::::::::</pre>
  </div>
</div>
<container>
  <style>
    pre {
      overflow: unset;
      margin: 0;
      padding: 0;
    }

    .container {
      overflow: hidden; /* changed from hidden */
      width: 100%;
    }

    .eye-container {
      display: grid;
      grid-template-areas: "overlap";
      width: 100%;
    }

    .marquee {
      display: block;
      margin: 0;
      padding: 0;
    }

    .eye-open,
    .eye-lid {
      grid-area: overlap;
      margin: 0;
      padding: 0;
    }

    .eye-open {
      animation: open-eyes 6s infinite;
    }

    .eye-lid {
      animation: closed-eyes 6s infinite;
    }

    @keyframes open-eyes {
      0%,
      10%,
      20%,
      100% {
        opacity: 1;
      }
      12%,
      18% {
        opacity: 0;
      }
    }

    @keyframes closed-eyes {
      0%,
      10%,
      20%,
      100% {
        opacity: 0;
      }
      12%,
      18% {
        opacity: 1;
      }
    }

    .header-ascii {
      display: block;
      color: #88ebbe;
      font-size: 0.3em;
      line-height: 1em;
      margin: 0;
      padding: 0;
      white-space: pre;
    }

    @media (max-width: 430px) {
      @container {
        display: none;
      }
    }
  </style>
</container>
